* {
    background-color: cyan;
}
li {
    font-size: 150%;
    text-align: center;
    padding: 0%;
    margin: 0%;

}
li:hover {
    opacity: 20%;
}
h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    letter-spacing: 8px;
    border-width: 9px;
    border-style: dashed;

}
p {
    margin-top: 30px;
    overflow: scroll;
    max-height: 100px;
    color: rgb(5, 66, 35);
    font-family: Georgia;
}